#Canvas {
  position: relative;
  width: 816px;
  height: 1056px;
  display: flex;
  background: #ffffff;
  background: var(--white);
  /* box-shadow: 0 4px 8px rgba(16, 22, 26, 0.02); */
  box-shadow: 0 4px 18px rgba(16, 22, 26, 0.03);
  margin-left: 24px;
  border: 1px solid #c7ced4;
}

.CanvasContainer:focus {
  outline: none;
}
