.DocumentToolsMenu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 36px;
  width: 100%;
  background: var(--colorBlack);
}

.icon {
  color: #fff;
}

.icon:hover {
  color: #36aee8;
}

.disabledIcon {
  opacity: 0.5;
  cursor: not-allowed;
}

.icon.disabledIcon:hover {
  color: var(--colorWhite) !important;
}
