* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-display: swap;
  transform: rotate(-0.0000000001deg);
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
  letter-spacing: 0px;
  -webkit-print-color-adjust: exact;
}

:root {
  --fontBody: "JetBrains Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--fontBody);
  color: var(--colorBlack);
  overflow-x: hidden;
}

.📦fnt-fam_b77syt {
  font-family: var(--fontBody);
}

:root {
  --black: #1d2329;

  /**/
  --colorBlack: #313742;
  --colorWhite: #ffffff;

  --colorPink0: #fbcddc;
  --colorPink1: #f8a7c2;
  --colorPink2: #f581a8;
  --colorPink3: #f25b8d;
  --colorPink4: #ef3573;
  --colorPink5: #c22b5d;
  --colorPink6: #952148;
  --colorPink7: #691732;
  --colorPink8: #3c0d1d;

  --colorGreen0: #c5f3dd;
  --colorGreen1: #9aeac4;
  --colorGreen2: #6ee0ab;
  --colorGreen3: #43d791;
  --colorGreen4: #17ce78;
  --colorGreen5: #13a762;
  --colorGreen6: #0e814b;
  --colorGreen7: #0a5a35;
  --colorGreen8: #06341e;

  --colorGrayscale0: var(--colorWhite);
  --colorGrayscale1: #f4f5f6;
  --colorGrayscale2: #e1e1e4;
  --colorGrayscale3: #cdced3;
  --colorGrayscale4: #b9bbc1;
  --colorGrayscale5: #a5a8af;
  --colorGrayscale6: #92959d;
  --colorGrayscale7: #7e828b;
  --colorGrayscale8: #6b6f79;
  --colorGrayscale9: #575c67;
  --colorGrayscale10: #444a54;
  --colorGrayscale11: var(--colorBlack);
  /**/

  --dark-gray1: #182026;
  --dark-gray2: #202b33;
  --dark-gray3: #293742;
  --dark-gray4: #30404d;
  --dark-gray5: #394b59;

  --gray1: #5c7080;
  --gray2: #738694;
  --gray3: #8a9ba8;
  --gray4: #a7b6c2;
  --gray5: #bfccd6;

  --light-gray1: #ced9e0;
  --light-gray2: #d8e1e8;
  --light-gray3: #e1e8ed;
  --light-gray4: #ebf1f5;
  --light-gray5: hsla(220, 17%, 97%, 1);

  --white: #ffffff;

  --blue1: #0e5a8a;
  --blue2: #106ba3;
  --blue3: #137cbd;
  --blue4: #2b95d6;
  --blue5: #48aff0;

  --green1: #0a6640;
  --green2: #0d8050;
  --green3: #0f9960;
  --green4: #15b371;
  --green5: #3dcc91;

  --orange1: #a66321;
  --orange2: #bf7326;
  --orange3: #d9822b;
  --orange4: #f29d49;
  --orange5: #ffb366;

  --red1: #a82a2a;
  --red2: #c23030;
  --red3: #db3737;
  --red4: #f55656;
  --red5: #ff7373;

  --vermilion1: #9e2b0e;
  --vermilion2: #b83211;
  --vermilion3: #d13913;
  --vermilion4: #eb532d;
  --vermilion5: #ff6e4a;

  --rose1: #a82255;
  --rose2: #c22762;
  --rose3: #db2c6f;
  --rose4: #f5498b;
  --rose5: #ff66a1;

  --violet1: #5c255c;
  --violet2: #752f75;
  --violet3: #8f398f;
  --violet4: #a854a8;
  --violet5: #c274c2;

  --indigo1: #5642a6;
  --indigo2: #634dbf;
  --indigo3: #7157d9;
  --indigo4: #9179f2;
  --indigo5: #ad99ff;

  --cobalt1: #1f4b99;
  --cobalt2: #2458b3;
  --cobalt3: #2965cc;
  --cobalt4: #4580e6;
  --cobalt5: #669eff;

  --turquoise1: #008075;
  --turquoise2: #00998c;
  --turquoise3: #00b3a4;
  --turquoise4: #14ccbd;
  --turquoise5: #2ee6d6;

  --forest1: #1d7324;
  --forest2: #238c2c;
  --forest3: #29a634;
  --forest4: #43bf4d;
  --forest5: #62d96b;

  --lime1: #728c23;
  --lime2: #87a629;
  --lime3: #9bbf30;
  --lime4: #b6d94c;
  --lime5: #d1f26d;

  --gold1: #a67908;
  --gold2: #bf8c0a;
  --gold3: #d99e0b;
  --gold4: #f2b824;
  --gold5: #ffc940;

  --sepia1: #63411e;
  --sepia2: #7d5125;
  --sepia3: #96622d;
  --sepia4: #b07b46;
  --sepia5: #c99765;

  --pt-intent-primary: var(--blue3);
  --pt-intent-success: var(--green3);
  --pt-intent-warning: var(--orange3);
  --pt-intent-danger: var(--red3);

  --pt-border-shadow-opacity: 0.1;
  --pt-drop-shadow-opacity: 0.2;
  --pt-dark-border-shadow-opacity: calc(var(--pt-border-shadow-opacity) * 2);
  --pt-dark-drop-shadow-opacity: calc(var(--pt-drop-shadow-opacity) * 2);

  --elevation1: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0),
    0 1px 1px rgba(16, 22, 26, 0.2);
  --elevation2: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 1px 1px rgba(16, 22, 26, 0.2),
    0 2px 6px rgba(16, 22, 26, 0.2);
}

.ProjectEditor {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.TopBar {
  height: 64px;
  background: var(--white);
  box-shadow: var(--elevation2);
  z-index: 100;
  border-bottom: 1px solid #cfd4d9;
  display: flex;
  align-items: center;
}

.Editor {
  width: 100vw;
  height: calc(100% - 48px);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 48px 24px;
  /* background: #eef0f2; */
  background: #eaecf0;
  display: flex;
  justify-content: center;
}

.Canvas {
  width: 816px;
  height: 1056px;
  display: flex;
  background: var(--white);
  box-shadow: var(--elevation1);
  margin-left: 24px;
}

.CanvasControlPanel {
  width: 380px;
  height: calc(100vh - 96px - 48px);
  max-height: 1056px;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  position: sticky;
  left: 0px;
  top: 0px;
}

.LeftMenuColumn {
  display: flex;
  flex-direction: column;
  width: 280px;
  max-width: 280px;
  min-width: 280px;
  margin-right: 24px;
}

.LayerEditorMenu {
  width: 100%;
  height: 100%;
  max-width: 320px;
  min-width: 320px;
  padding-bottom: 12px;
  /* border: 1px solid #cfd4d9; */
}

.LayerEditor {
  padding: 8px 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.LayerEditor .inputRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.MenuTitle {
  pointer-events: none;
  margin-bottom: 0px;
  font-weight: 600;
}

.spacer12 {
  width: 12px;
  height: 12px;
  display: flex;
}

.spacer16 {
  width: 16px;
  height: 16px;
  display: flex;
}

.spacer24 {
  width: 24px;
  height: 24px;
  display: flex;
}

.uppercaseText {
  text-transform: uppercase;
}

._reactLayerHandle._borderHandle._topLayerHandle {
  max-height: 1px;
  opacity: 1;
  animation-name: borderTick;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  height: 1px;
  transform: translate(-100%, -100%);
  border-top-color: #7157d9;
  border-top-style: dashed;
  border-top-width: 1px;
}

._reactLayerHandle._borderHandle._rightLayerHandle {
  max-width: 1px;
  opacity: 1;
  animation-name: borderTick;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  width: 1px;
  transform: translateY(-100%);
  border-right-color: #7157d9;
  border-right-style: dashed;
  border-right-width: 1px;
}

._reactLayerHandle._borderHandle._bottomLayerHandle {
  max-height: 1px;
  opacity: 1;
  animation-name: borderTick;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  height: 1px;
  border-bottom-color: #7157d9;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
}

._reactLayerHandle._borderHandle._leftLayerHandle {
  max-width: 1px;
  opacity: 1;
  animation-name: borderTick;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  width: 1px;
  transform: translateX(-100%);
  border-left-color: #7157d9;
  border-left-style: dashed;
  border-left-width: 1px;
}

._reactLayerHandle._borderHandle {
  position: absolute;
  user-select: none;
}

.bp3-popover-arrow {
  display: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.Editor .bp3-tag.bp3-minimal {
  background-color: rgba(138, 155, 168, 0.2);
  color: #182026;
  padding-bottom: 5px;
  padding-top: 1px;
  line-height: 100%;
}

.bp3-form-group.bp3-inline label.bp3-label {
  line-height: 22px;
  white-space: nowrap;
}

.bp3-form-group.bp3-inline .bp3-form-content {
  width: 100%;
}

.Gen3Select,
.Gen3Select > span {
  width: 100%;
}

.Gen3Select .SelectButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-height: 30px;
  position: relative;
}

.Gen3Select .SelectButton.withIcon {
  padding-left: 30px;
}

.Gen3SelectPopover {
  max-height: 30px;
}

.Gen3SelectPopover .bp3-button-text .LacunaIcon {
  position: absolute;
  left: 0px;
  top: -1px;
  z-index: 10;
}

ul,
li,
ol {
  list-style-type: none;
}

.bp3-select-popover .bp3-menu {
  max-height: 300px;
  overflow: auto;
}

.bp3-menu-item:hover,
.bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-menu-item {
  background-color: rgba(167, 182, 194, 0.3);
  cursor: pointer;
  text-decoration: none;
}

button:focus,
i:focus {
  outline: none;
}

.bp3-editable-text-content {
  overflow: visible !important;
  height: auto !important;
}

.bp3-editable-text.bp3-multiline .bp3-editable-text-content {
  overflow: visible !important;
}

.bp3-editable-text-content {
  padding-right: 0px !important;
}

.sketch-picker,
.chrome-picker {
  border: 1px solid rgba(67, 90, 111, 0.3);
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.cnh_ended {
  display: flex;
}
