.LayersListContainer {
  user-select: none;
}

.LayerName {
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  max-width: 180px;
}

.isSelectedLayerName {
  font-weight: 900;
  font-style: italic;
  color: #1070ca;
}

.LayerNameContainer {
  padding: 8px 12px;
}

.LayerActionIcons {
  user-select: none;
  display: flex;
  align-items: center;
  position: absolute;
  top: 1px;
  right: 0px;
  height: 100%;
}

.selectedIndicator {
  position: absolute;
  top: 15px;
  left: -4px;
}
