.TextInputContainer {
  position: relative;
  contain: content;
}

.TextInput {
  border: 1px solid var(--gray5);
  box-shadow: none;
}

.TextInput:focus {
  outline: none;
  border-color: #1070ca !important;
  box-shadow: 0px 0px 0px 1px #1070ca inset !important;
}

.TextInput.minimalVariant {
  padding: 0 28px;
  text-align: right;
}

.leadingIcon {
  color: rgba(67, 90, 111, 0.3);
  position: absolute;
  z-index: 10;
  left: 7px;
  top: 9px;
  font-size: 18px;
  height: 100%;
}

:global(._unicon).leadingIcon {
  left: 3px;
  top: 6px;
}

.tagText {
  color: rgba(67, 90, 111, 0.3);
  position: absolute;
  right: 8px;
  top: 6px;
}

.TextInputContainer > i {
  color: rgba(67, 90, 111, 0.3);
}

.TextInputContainer:hover .leadingIcon,
.TextInputContainer:hover .leadingIcon {
  color: #7b8b9a;
}
