.PanelMenuContainer {
  border: 1px solid #c7ced4;
  background: var(--light-gray5);
  contain: content;
}

.PanelMenuTitle {
}

.PanelMenuTitleContainer {
  padding: 8px 12px;
  background: var(--colorWhite);
}

.divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid rgb(237, 240, 242);
}
